.company {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 10px;
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  color: rgb(35, 35, 37);
  font-family: var(--wix-display);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.5px;
  text-align: left;
}

.locate {
  color: rgb(99, 100, 105);
  font-family: Wix Madefor Display;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.5px;
  text-align: left;
}
