.popup {
  position: absolute;

  display: none;
  opacity: 0;
  z-index: 50;
}

.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.btn {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  outline: none;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  text-align: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  appearance: none;
  -webkit-appearance: none;

  /* Remove excess padding and border in Firefox 4+ */
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  position: relative;
  padding-right: 25px;
}

.down::after,
.up::after {
  content: "";
  position: absolute;
  top: 4px;
  right: 0px;
  width: 16px;
  height: 16px;
  display: block;
  background-image: url(/img/arrow-up.svg);
  background-size: 10px 10px;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.3s;
}

.up::after {
  transform: rotateX(180deg);
  transition: 0.3s;
}
