.popup {
  position: absolute;
  top: 68px;
  left: calc((482px - 584px) / 2);
  display: none;
  opacity: 0;
}

.popup_fon {
  width: 584px;
  height: 270px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 1px 12px 2px rgba(36, 36, 36, 0.07);
  background: rgb(255, 255, 255);
  font-size: 8px;
}

.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.btn {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  outline: none;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  text-align: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  appearance: none;
  -webkit-appearance: none;

  /* Remove excess padding and border in Firefox 4+ */
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  position: relative;
  padding: 0px;
  padding-left: 24px;
  padding-right: 21px;
  box-sizing: border-box;
  color: var(--grey-700-00);
  text-decoration: none;
  font-family: var(--wix-text);
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.5px;
  text-align: left;

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 18px;
    height: 18px;
    display: block;
    background-image: url(/img/menu.svg);
    background-size: 18px 18px;
    background-position: left;
    background-repeat: no-repeat;
  }
}

.down::after,
.up::after {
  content: "";
  position: absolute;
  top: 3px;
  right: 0px;
  width: 16px;
  height: 16px;
  display: block;
  background-image: url(/img/arrow-down.svg);
  background-size: 16px 16px;
  background-position: top left;
  background-repeat: no-repeat;
}
