.header {
  position: sticky;
  height: 96px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav {
  position: relative;
  width: 482px;
  height: 56px;
  padding: 17px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 18px;
  box-shadow: 0px 0px 12px 0px rgba(24, 44, 194, 0.05);
  backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.92);
}

.list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  & > li {
    height: 100%;
  }
}
