.label {
  width: fit-content;
  padding: 12px 15px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  border-radius: 12px;
  background: rgb(246, 246, 246);
  color: rgb(35, 35, 37);
  font-family: var(--wix-text);
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.5px;
  text-align: left;
}

.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 22px;
  border: 2px solid rgb(212, 213, 215);
  border-radius: 18px;

  &::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: rgb(212, 213, 215);
    top: 2px;
    left: 2px;
    transition: all 0.3s;
  }
}

.checkbox:checked + .switch {
  border: 2px solid rgb(35, 35, 37);
}
.checkbox:checked + .switch::after {
  left: 15px;
  background: rgb(35, 35, 37);
}

.checkbox {
  display: none;
}
