.greeting {
  width: 380px;
  min-height: 522px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgb(245, 245, 245);
}

.title {
  color: rgb(0, 0, 0);
  font-family: var(--wix-text);
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -1px;
  text-align: center;
}
