.link,
.link:hover,
.link:visited,
.link:focus {
  padding: 0px;
  box-sizing: border-box;
  color: var(--grey-100-f6);
  text-decoration: none;
  font-family: var(--wix-text);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.5px;
  text-align: left;

  @media screen and (max-width: 590px) {
    font-size: 16px;
    line-height: 18px;
  }
}
