.filters {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;

  color: rgb(35, 35, 37);
  font-family: var(--wix-text);
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.5px;
  text-align: left;

  @media screen and (max-width: 590px) {
    gap: 15px;
    font-size: 16px;
    line-height: 20px;
  }
}
