.page {
  font-family: var(--font-wix-display);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  line-height: 10px;
}

.promo {
  max-width: 436px;
  margin: 80px auto 80px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.cards_wrapper {
  max-width: 1020px;
  margin-top: 20px;
}

.head1 {
  color: rgb(35, 35, 37);
  font-family: var(--wix-display);
  font-size: 50px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: -1px;
  text-align: center;
}

.head2 {
  color: rgb(65, 66, 70);
  font-family: var(--wix-display);
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.5px;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}
