.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 280px;
  gap: 8px;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 83;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14;
}

.resume {
  position: relative;
  grid-column: 1 / 4;
  height: 157px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: var(--grey-100-f6);
  border-radius: 6px;
  color: var(--grey-700-00);
  text-decoration: none;

  &:hover {
    background: var(--gradient-button);

    & .resume_foto {
      padding-top: 5px;
      transition: padding-top 300ms;
    }
  }
}

.resume_foto {
  transition: padding-top 300ms;
}

.resume_head {
  position: absolute;
  max-width: 600px;
  bottom: 20px;
  font-family: var(--wix-text);
  color: #232325;
  font-size: 24px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.5px;
  text-align: left;
}

.aside {
  position: relative;
  width: 100%;
  height: 157px;
  padding: 20px;
  box-sizing: border-box;
  background-color: var(--grey-600);
  border-radius: 6px;
  color: var(--grey-100-ff);
  text-decoration: none;
  font-family: var(--wix-text);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.5px;
  text-align: left;

  &:hover {
    background-image: url(/bg-stars.png);
    background-position: center;
  }
}

.aside_head {
  position: absolute;
  max-width: 200px;
  bottom: 20px;
}

.aside_tag {
  width: fit-content;
  padding: 4px 10px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 12px;
}
