.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 249px;
  gap: 8px;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 83;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14;
}

.resume {
  position: relative;
  grid-column: 1 / 4;
  height: 157px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: var(--grey-100-f6);
  border-radius: 6px;
  color: var(--grey-700-00);
  text-decoration: none;
}

.aside {
  position: relative;
  width: 100%;
  height: 157px;
  padding: 20px;
  box-sizing: border-box;
  background-color: var(--grey-600);
  border-radius: 6px;
  color: var(--grey-100-ff);
  text-decoration: none;
}
