.label {
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: inherit;
}

.name {
  margin-bottom: 8px;
  color: rgb(35, 35, 37);
  font-family: var(--wix-display);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.5px;
  text-align: left;
}

.input {
  width: 100%;
  height: 52px;
  padding: 15px;
  margin-bottom: 5px;
  border: 1px solid rgb(212, 213, 215);
  border-radius: 12px;
  background-color: rgb(255, 255, 255);
  color: rgb(35, 35, 37);
  font-family: var(--wix-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.input:hover {
  border: 1px solid rgb(172, 174, 178);
}
.input:focus {
  outline: 2px solid rgb(155, 22, 201);
  border: none;
}
.input::placeholder {
  color: rgb(212, 213, 215);
}
.input:disabled {
  outline: 1px solid rgb(212, 213, 215);
  background: rgb(246, 246, 246);
  color: rgb(35, 35, 37);
}
.input.error {
  outline: 1px solid rgb(255, 0, 0);
  border: none;
}
.input.error:focus {
  box-shadow: 0 0 0 2px rgb(255, 0, 0);
}

.error {
  color: rgb(255, 35, 35);
  font-family: var(--wix-display);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.5px;
  text-align: left;
}
