.filters {
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;

  @media screen and (max-width: 590px) {
    margin-bottom: 16px;
  }
}

.cards {
  margin-top: 25px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(204px, auto);
  gap: 16px;
  overflow: hidden;

  & > *:first-child {
    grid-column: 2 / 3;
    grid-row: 3 / 4;

    @media screen and (max-width: 590px) {
      grid-column: 1 / 2;
      grid-row: 5 / 6;
    }
  }

  @media screen and (max-width: 590px) {
    margin-top: 15px;
    margin-bottom: 15px;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(184px, auto);

    & > *:nth-child(n + 6) {
      display: none;
    }
  }
}
