.tag {
  position: relative;
  z-index: 0;
  padding: 0px;
  padding-left: 20px;
  box-sizing: border-box;
  color: rgb(35, 35, 37);
  font-family: var(--wix-display);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.5px;
  text-align: left;

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    z-index: 0;
    width: 18px;
    height: 18px;
    display: block;
    background-size: 18px 18px;
    background-position: top left;
    background-repeat: no-repeat;
  }
}

.remote::before {
  background-image: url(/img/icon_world.svg);
}

.office::before {
  background-image: url(/img/icon_building.svg);
}

.intern::before {
  background-image: url(/img/icon_briefcase.svg);
}

.salary::before {
  background-image: url(/img/icon_moneybag.svg);
}
