.list {
  padding: 25px 0 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.item {
  display: block;
  width: 100%;
  padding: 15px;
  border-radius: 8px;
  background: rgb(246, 246, 246);
  text-decoration: none;

  &:hover .item_head {
    color: #0560c9;
  }

  &_head {
    color: rgb(0, 0, 0);
    font-family: var(--wix-display);
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.5px;
    text-align: left;

    @media screen and (max-width: 590) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  &_info {
    color: #636469;
    font-family: var(--wix-display);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.5px;
    text-align: left;
    @media screen and (max-width: 590) {
      font-size: 14px;
      line-height: 18px;
    }
  }

  &_span {
    position: relative;
    padding-right: 4px;

    &:not(:first-child) {
      padding-left: 8px;
    }

    &:not(:first-child)::before {
      position: absolute;
      content: "";
      width: 4px;
      height: 4px;
      border-radius: 50%;
      left: 0;
      top: 8px;
      background-color: #acaeb2;
    }
  }
}

.advertisment {
  grid-row: 4/5;
  & > a {
    background-image: url(/bg_line_yelow.png);
    background-position: center;
    background-size: cover;

    @media screen and (max-width: 590) {
      height: 110px;
    }

    & > div {
      @media screen and (max-width: 590) {
        height: 100%;
        justify-content: space-between;
      }

      & > div > p {
        color: #8e521e;
      }

      & > img {
        display: none;
      }
    }

    & > div::after {
      background-color: #8e521e;

      @media screen and (max-width: 590) {
        bottom: 0;
        right: 0;
      }
    }
  }
}
